@section Styles {
	<link rel="stylesheet" href="~/css/index.css" />
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <img src="~/images/main-image.png" alt="Main image" class="main-image" />
    <div class="text-center image-container">
        <h1 class="display-2 main-title">Interview Portal</h1>
        <p class="main-text">Streamline your hiring process with our assessment platform. Test candidates with questions that evaluate their skills.</p>
    </div>
</div>

<div class="container instructions-container">
    <h1 class="section-title">Showcase Your Talent, Secure Your Future</h1>
    <div class="instruction-block row">
        <div class="col-md-6">
            <img src="~/images/mock-image.png" alt="Mock image" class="image image-left" />
            <img src="~/images/interview-screenshot.png" alt="Interview Screenshot" class="instruction-image" />
        </div>
        <div class="col-md-6">
            <h2 class="instruction-title">Practice With Mock Interviews</h2>
            <p class="instruction-text">Practice as much as you want with our mock interviews.</p>
            <ul class="feature-list">
                <li>Get instant feedback to rapidly improve your performance</li>
                <li>Walk into your real interview with complete platform confidence</li>
            </ul>
            <div class="button-wrapper">
                <a href="/Candidate" class="btn mt-3 button">Go to Mock Interview</a>
            </div>
        </div>
    </div>

    <div class="instruction-block row flex-row-reverse">
        <div class="col-md-6">
            <img src="~/images/real-image.png" alt="Mock image" class="image image-right" />
            <img src="~/images/interview-screenshot.png" alt="Interview Screenshot" class="instruction-image" />
        </div>
        <div class="col-md-6">
            <h2 class="instruction-title">Take The Real Assessment</h2>
            <p class="instruction-text">When you're ready for the spotlight, our HR specialists conduct official interviews where your performance truly counts.</p>
            <ul class="feature-list">
                <li>Your responses are securely stored for professional evaluation</li>
                <li>Benefit from expert analysis that identifies your strengths and growth opportunities</li>
            </ul>
            <div class="button-wrapper">
                <a href="/Candidate" class="btn mt-3 button">Take Real Interview</a>
            </div>
        </div>
    </div>
</div>

<div class="container instructions-container">
    <h1 class="section-title">Discover Exceptional Talent, Effortlessly</h1>
    <div class="instruction-block row flex-row-reverse instructions-container-dark">
        <div class="col-md-6">
            <img src="~/images/hr-image.png" alt="Mock image" class="image image-left" />
            <img src="~/images/results-screenshot.png" alt="Interview Screenshot" class="instruction-image" />
        </div>
        <div class="col-md-6 dark-container">
            <h2 class="instruction-title">Powerful Hiring at Your Fingertips</h2>
            <p class="instruction-text">Transform your recruitment strategy with our all-in-one dashboard:</p>
            <ul class="feature-list">
                <li>Seamlessly manage job positions with just a few clicks</li>
                <li>Craft custom interview questions tailored to your company's unique needs</li>
                <li>Instantly match assessment topics to specific roles for perfect candidate evaluation</li>
                <li>Streamline your entire hiring workflow while maintaining complete control</li>
            </ul>
            <div class="button-wrapper">
                <a href="/Identity/Account/Login" class="btn mt-3 button">Login</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="section-title">We Are Trusted By Industry Leaders</h2>
    <div class="companies-row">
        <div class="company-logo">
            <img src="~/images/company-1.png" alt="Company 1" />
        </div>
        <div class="company-logo">
            <img src="~/images/company-2.png" alt="Company 2" />
        </div>
        <div class="company-logo">
            <img src="~/images/company-3.png" alt="Company 3" />
        </div>
        <div class="company-logo">
            <img src="~/images/company-4.png" alt="Company 4" />
        </div>
    </div>
</div>