@section Styles {
	<link rel="stylesheet" href="~/css/index.css" />
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <img src="~/images/main_image.png" alt="Main image" class="main-image" />
    <div class="text-center">
        <h1 class="display-2 main-title">Interview Portal</h1>
        <p class="main-text">Streamline your hiring process with our assessment platform. Test candidates with questions that evaluate their skills.</p>
    </div>
</div>

<div class="div">

</div>

