.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .filter-form input, .filter-form select, .filter-form button {
        padding: 10px 15px;
        margin: 0 10px;
        border-radius: 10px;
        border: .5px solid #ddd;
    }

    .filter-form button {
        background-color: var(--green-color);
        padding: 10px 15px;
        color: var(--primary-color);
        border: none;
        cursor: pointer;
    }

        .filter-form button:hover {
            background-color: var(--green-shadow-color);
        }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f9;
    font-weight: bold;
    color: #4b4b4b;
}

.sortable-column a:hover {
    color: var(--green-color) !important;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}



.sortable-column a {
    text-decoration: none;
    color: inherit;
}

    .sortable-column a:hover {
        color: #007bff;
    }


.icon-edit {
    color: var(--green-color);
}

.icon-delete {
    color: var(--accent-color);
}

.no-results {
    text-align: center;
    padding: 20px;
    color: #888;
}

.add-btn {
    margin: 10px 0 10px;
}

    .add-btn:active {
        border: none;
    }
